*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Ignore all .idea folder content
.idea/*

# Except for the following files which should be shared
!.idea/gradle.xml
!.idea/kotlinc.xml

# Ignore deploymentTargetSelector.xml specifically
.idea/deploymentTargetSelector.xml

# Ignore user-specific configurations
.idea/dictionaries/
.idea/inspectionProfiles/profiles_settings.xml

# Ignore all workspace.xml and tasks.xml
.idea/workspace.xml
.idea/tasks.xml